---
---

@import 'jekyll-theme-cayman';

.page-header {
  background: linear-gradient(135deg, #157878, #28a745);
  color: #fff;
  text-align: center;
  padding: 0.8em 1em;  /* Reduce the top/bottom padding */
}
.project-tagline {
  color: #fff !important;
}
