---
---

@import 'jekyll-theme-cayman';

.page-header {
  background: linear-gradient(135deg, #157878, #28a745);
  color: #fff;
  text-align: center;
  padding: 0.8em 1em;  /* Reduce the top/bottom padding */
}
.project-tagline {
  color: #fff !important;
}
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adds space between images */
}
.footer-logos img {
  max-height: 60px;
  width: auto;
  display: inline-block;
}
